<h1>child</h1>
<mat-form-field appearance="fill">
    <mat-label>child</mat-label>
    <input matInput [(ngModel)]="result">
  </mat-form-field>&nbsp;
  <button mat-raised-button color="accent" (click)="buttonClicked(result)">Tell to Parent</button>
<div class="example-container">
    <div class="form-container">
        <form [formGroup]="empForm" (submit)="submit()">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Emp Name</mat-label>
                <input matInput formControlName="name" required>
             </mat-form-field>&nbsp;
             <mat-form-field class="form-field" appearance="outline">
                <mat-label> Emp Role</mat-label>
                <input matInput formControlName="role" required>
              </mat-form-field>&nbsp;
              <mat-form-field class="form-field" appearance="outline">
                <mat-label> Emp Salary</mat-label>
                <input matInput formControlName="salary" required>
              </mat-form-field>&nbsp;
              <button mat-raised-button color="primary" type="submit" >Submit</button>
         </form>
    </div>
</div>
